# Summary_Statistics_and_Accummulations

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Quick Summary
----
### titanic.describe()
### titanic.count()
### titanic.mean()
### titanic.sum()
### titanic.fare.cumsum()
### titanic.corr()
### titanic.survived.corr(titanic.pclass)

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

In [1]:
import pandas as pd

In [2]:
titanic = pd.read_csv("titanic.csv")

In [3]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [4]:
titanic.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [9]:
titanic.count() # default axis = 0

survived    891
pclass      891
sex         891
age         714
sibsp       891
parch       891
fare        891
embarked    889
deck        203
dtype: int64

# count()

## Non missing values of each column or row

In [10]:
titanic.count(axis=0)

survived    891
pclass      891
sex         891
age         714
sibsp       891
parch       891
fare        891
embarked    889
deck        203
dtype: int64

In [11]:
titanic.shape

(891, 9)

below little bit confusing

In [12]:
titanic.count(axis="columns")

0      8
1      9
2      8
3      9
4      8
      ..
886    8
887    9
888    7
889    9
890    8
Length: 891, dtype: int64

# mean()

In [13]:
titanic.mean()

survived     0.383838
pclass       2.308642
age         29.699118
sibsp        0.523008
parch        0.381594
fare        32.204208
dtype: float64

## Only `numerics` are included.

# sum()

In [16]:
titanic.sum()

survived                                                  342
pclass                                                   2057
sex         malefemalefemalefemalemalemalemalemalefemalefe...
age                                                   21205.2
sibsp                                                     466
parch                                                     340
fare                                                  28693.9
dtype: object

In [17]:
titanic.sum(axis = 1)

0       33.2500
1      112.2833
2       37.9250
3       91.1000
4       46.0500
         ...
886     42.0000
887     51.0000
888     29.4500
889     58.0000
890     42.7500
Length: 891, dtype: float64

# cumsum()

In [18]:
titanic.fare.cumsum()

0          7.2500
1         78.5333
2         86.4583
3        139.5583
4        147.6083
          ...
886    28602.7493
887    28632.7493
888    28656.1993
889    28686.1993
890    28693.9493
Name: fare, Length: 891, dtype: float64

# corr()

In [20]:
titanic.corr()

          survived    pclass       age     sibsp     parch      fare
survived  1.000000 -0.338481 -0.077221 -0.035322  0.081629  0.257307
pclass   -0.338481  1.000000 -0.369226  0.083081  0.018443 -0.549500
age      -0.077221 -0.369226  1.000000 -0.308247 -0.189119  0.096067
sibsp    -0.035322  0.083081 -0.308247  1.000000  0.414838  0.159651
parch     0.081629  0.018443 -0.189119  0.414838  1.000000  0.216225
fare      0.257307 -0.549500  0.096067  0.159651  0.216225  1.000000

In [21]:
titanic.survived.corr(titanic.pclass)

-0.33848103596101475